* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.header {
  background-color: #4C6663;
}
.header .logo {
  width: 50px;
}

h1 {
  text-align: center;
}

h2 {
  background-color: #D4C5E2;
  animation-name: agrandarse;
  animation-duration: 1s;
}
@keyframes agrandarse {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.titulo {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.imagen {
  height: 60%;
  width: 100%;
}

.carusel {
  padding: 1rem;
  margin: 1rem;
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.tarjetas .boton-tarjeta {
  border: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: beige;
}
.tarjetas .tarjeta {
  background-color: #85BDA6;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.empresa .empresas {
  background-color: #85BDA6;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.contactos {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #D4C5E2;
  margin: 1rem;
  padding: 1rem;
}

.formulario {
  height: 300px;
  width: 90%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.footer {
  background-color: #F4EEA9;
  padding: 1rem;
  text-align: center;
}
.footer .redes-orden {
  display: grid;
  grid-template-columns: 1fr;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer i {
  text-align: center;
  font-size: 1rem;
  color: black;
  margin: 1rem;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  transition: 0.3s ease;
}
.footer .fa-youtube:hover {
  background-color: red;
  color: white;
  box-shadow: 0 0 15px red, 0 0 45px red, 0 0 75px red, 0 0 115px red;
}
.footer .fa-square-facebook:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 15px blue, 0 0 45px blue, 0 0 75px blue, 0 0 115px blue;
}
.footer .fa-instagram:hover {
  background-color: purple;
  color: white;
  box-shadow: 0 0 15px purple, 0 0 45px purple, 0 0 75px purple, 0 0 115px purple;
}
.footer .fa-mobile:hover {
  background-color: green;
  color: white;
  box-shadow: 0 0 15px green, 0 0 45px green, 0 0 75px green, 0 0 115px green;
}
.footer .fa-map-location-dot:hover {
  background-color: gray;
  color: white;
  box-shadow: 0 0 15px gray, 0 0 45px gray, 0 0 75px gray, 0 0 115px gray;
}

@media screen and (min-width: 768px) {
  .carusel {
    padding: 10rem;
    margin: 1rem;
  }
  .tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem;
    margin: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .tarjeta {
    background-color: #85BDA6;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  .imagen {
    height: 350px;
    width: 250px;
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .empresat {
    padding: 1rem;
    margin: 1rem;
    background-color: beige;
  }
  .empresas {
    background-color: #85BDA6;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  .pp {
    margin: 1rem;
    padding: 1rem;
  }
  .redes {
    display: grid;
    max-height: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .carusel {
    margin: auto;
    width: 50%;
  }
  .tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5rem;
    margin: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .tarjeta {
    background-color: #85BDA6;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  .contactos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D4C5E2;
    width: 80%;
    margin: 4rem auto;
    padding: 1rem;
  }
  .formulario {
    height: 300px;
    width: 30%;
    text-align: center;
    padding: 3rem;
    margin: 3rem auto;
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr;
    padding: 8rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .empresat2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .empresas {
    background-color: #85BDA6;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  .redes {
    display: grid;
    max-height: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=styles.css.map */